*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.promo {
    height: 800px;
    background: url('../img/bg/maintopbg.jpg') center center / cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 14px;
}

.h1 {
    margin-top: 53px;
}

.title {
    /* font-family: 'Roboto Black', sans-serif ; */
    font-size: 41px;
    font-weight: 900;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #f9bf3b;
}

h2.title {
    margin-top: 30px;
}

.simple .title_big {
    font-size: 80px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin-top: 21px;
    color: #ffffff;
}

.promo .promo_text {
    padding: 0 13px;
    margin-top: 23px;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
}

.promo .promo_text span {
    font-weight: 700;
    color: #f9bf3b;
}

.promo .promo_btn, .gift .sign_up {
    display: block;
    margin: 52px auto;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.18);
    border: solid 4px rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    font-family: "Roboto Condensed Regular";
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}

.more {
    margin-top: 73px;
}

.more .more_text {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header, .finish .finish_header {
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 400;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}

.finish .finish_header {
    color: #efefef;
}

.waiting .waiting_divider, .finish .finish_divider {
    width: 217px;
    height: 4px;
    margin: 0 auto;
    margin-top: 18px;    
    background-color: #f9bf3b;
}

.waiting .waiting_subheader {
    margin-top: 17px;
    font-family: 'Roboto';
    font-size: 23px;
    font-weight: 400;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}

.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
    width: 339px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 33px;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    color: #4a4a4a;
}

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header {
    margin-left: 391px;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #299cbd;
}

.optimization .optimization_text {
    margin-top: 25px;
    margin-left: 391px;
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    color: #4a4a4a;
}
.optimization .optimization_text span {
    font-weight: 700;
}

.optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url('../img/bg/mainbtmbg.jpg') center center/cover no-repeat;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    text-align: center;
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    color: #efefef;
}

.gift {
    min-height: 628px;
    background-color: #efefef;
    padding: 86px 0 87px 0;
}

.gift .gift_icon {
    display: block;
    margin: 0 auto;
}

.gift .gift_descr {
    margin-top: 42px;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: normal;
    line-height: 1.43;
    text-align: center;
    color: #252525;
}

.webinar {
    min-height: 515px;
}

.webinar .webinar_img {
    display: block;
    margin: 0 auto;
    margin-top: 89px;
}

.webinar .webinar_header {
    margin-top: 37px;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    color: #252525;
}

.webinar .webinar_time {
    margin-top: 30px;
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    color: #299cbd;
}

.webinar .webinar_text {
    margin-top: 25px;
    font-family: 'Roboto';
    font-size: 23px;
    font-weight: normal;
    text-align: center;
    color: #4a4a4a;
}

footer {
    height: 119px;
    margin: 65px 0 0;
    padding: 60px 0 22px 0;
    background-color: #1a1a1a;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;
    text-align: center;
    color: #888888;
}
footer {
    color: #888888;
}
